<!-- styles for selector -->
{{ 'section-collection-select.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="collection-selector">
    <div class="selector-mobile-nav-container">
      <!-- renders nav for mobile -->
      {% render 'selector-mobile-nav' %}
    </div>
    <div class="selector-nav_container">
      <!-- renders nav pill -->
      {% if section.settings.show_pill %}
        {% render 'selector-nav-indicator' %}
      {% endif %}
      <!-- renders nav for desktop -->
      {% render 'selector-nav' %}
    </div>
  </div>
  <!-- banner for selected colection -->
  {% if section.settings.show_banner %}
    <div id="selector-banner"></div>
  {% endif %}
  <!-- selected collection grid -->
  <div id="selector-grid-container"></div>
</div>
<!-- scripts for selector -->
<script src="{{ 'section-collection-select.js' | asset_url }}" defer="defer"></script>

{% schema %}
  {
    "name": "Collection Selector",
    "class": "section section-collection-selector",
    "max_blocks": 6,
    "settings": [
      {
        "type": "checkbox",
        "id": "show_pill",
        "default": true,
        "label": "Show selector pill"
      },
      {
        "type": "checkbox",
        "id": "show_banner",
        "default": true,
        "label": "Show collection banner"
      }
    ],
    "blocks": [
      {
        "type": "featured_collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collections Selector",
        "blocks": [
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
